*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	background-image:url("gameimage.jpg") ;
	background-size:cover;
	font-family:sans-serif;
	background-position:center;
	font-size:20px;
}

.menu-bar
{
	background: #5c8a8a;
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style:none;
	color: #daf7a6;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover{
	background: #ff5733;
	border-radius: 2px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background:#a3a375;
	margin-top:15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width:150px;
	padding: 10px;
	border-bottom: 1px dotted #c70039;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last_child
{
	border-bottom: none;
}
.menu-bar ul li: hover .sub-menu-1 ul li a:hover{
	color: #7ff;
}
.fa-angle-right{
		float: right;
}