*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
               background-image: url("./regimage.jpg");
               height:100vh;
	background-color:#000;
               -webkit-background-size:cover;
	background-size:cover;
	background-position: center center;
	position: relative;
               background-repeat: no-repeat;
               background-size: 100% 100%;
          
}
.registration-form {
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	color:#fff;
}
.registration-form h1 {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
}
.registration-form p {
	font-size: 20px;
	margin: 15px 0;
}
.registration-form  input {
	font-size: 16px;
	width: 100%;
	padding: 15px 10px;
	border: 0;
	outline: none;
	border-radius: 5px;
}
.registration-form button {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
	border-radius: 5px;
	border: 0;
	background-color: #fff;
}
.registration-form button:hover {
	color: red;
}
.home
{
  margin-left:62px;
  margin-top:9px;
  font-size:30px;
  text-align: center;
  text-decoration:none;
  color:black;
  font-family:Arial;
  font-weight:bold;
  transition:0.4s ease-in-out;
  text-decoration:none;
}